<!-- 
Filename: login.ejs
Student Name: Juan Carlo Soriano
Student Number: 301262744
Date: June 18, 2023 
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <main class="main-content">
      <section class="container login">
        <form class="login-form" action="/login" method="POST">
          <label for="username"> Username: </label>
          <input
            name="username"
            id="username"
            placeholder="Enter your username"
          />
          <label for="password"> Password: </label>
          <input type="password" name="password" id="password" />
          <input id="login" type="submit" value="Log In" />
        </form>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
