<!-- 
Filename: footer.ejs
Student Name: Juan Carlo Soriano
Student Number: 301262744
Date: June 7, 2023 
-->
<footer class="footer">
  <div>
    <p>Copyright. Juan Carlo Soriano. 2023.</p>
  </div>
</footer>