<nav class="navbar">
  <div class="container navbar-container">
    <img />
    <div class="navbar-links">
      <a href="/about-me">About Me</a>
      <a href="/projects">Projects</a>
      <a href="/services">Services</a>
      <a href="/contact">Contact</a>
    </div>
  </div>
</nav>