<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <main class="main-content">
      <div class="hero">
        <h1>JUAN CARLO SORIANO</h1>
        <p>Software Development. UX Design. Data.</p>
      </div>

      <div class="container mission-statement">
        <h2 class="mission-statement-header">Mission Statement</h2>
        <p class="mission-statement-text">My mission is to create creative 
          and innovative solution to improve user experience and product functionality. 
          This is my portfolio which documents my journey to achieve my mission and 
          desire to improve myself.
        </p>
        <a class="btn-cta" href="/about-me">About Me</a>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
