<!-- 
Filename: projects.ejs
Student Name: Juan Carlo Soriano
Student Number: 301262744
Date: June 7, 2023 
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <main class="main-content">
      <div class="hero">
        <h1>JUAN CARLO SORIANO</h1>
        <p>Software Development. UX Design. Data.</p>
      </div>

      <section class="container projects">
        <div class="link-item">
          <div class="img-link-item img-link-item-1"></div>
          <h2>Four Card Feature</h2>
          <a href="https://juancarlosoriano.github.io/four-card-feature/">
            Demo
          </a>
          <a href="https://github.com/juancarlosoriano/four-card-feature">Github Link</a>
        </div>

        <div class="link-item">
          <div class="img-link-item img-link-item-2"></div>
          <h2>Google Keeper Clone</h2>
          <a href="https://juancarlosoriano.github.io/keeper/">
            Demo
          </a>
          <a href="https://github.com/juancarlosoriano/keeper">Github Link</a>
        </div>

        <div class="link-item">
          <div class="img-link-item img-link-item-3"></div>
          <h2>Shortly</h2>
          <a href="https://juancarlosoriano.github.io/shortly/">
            Demo
          </a>
          <a href="https://github.com/juancarlosoriano/shortly">Github Link</a>
        </div>

        <div class="link-item">
          <div class="img-link-item img-link-item-4"></div>
          <h2>Project Tracker Demo</h2>
          <a href="https://juancarlosoriano.github.io/project-tracking-info-component/">
            Demo
          </a>
          <a href="https://github.com/juancarlosoriano/project-tracking-info-component">Github Link</a>
        </div>
      </section>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>