<!-- 
Filename: services.ejs
Student Name: Juan Carlo Soriano
Student Number: 301262744
Date: June 7, 2023 
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <main class="main-content">
      <div class="hero">
        <h1>JUAN CARLO SORIANO</h1>
        <p>Software Development. UX Design. Data.</p>
      </div>

      <section class="container services">
        <div class="card">
          <div class="img-card img-card-webdev"></div>
          <div class="card-description">
            <p>Web Development</p>
          </div>
        </div>
    
        <div class="card">
          <div class="img-card img-card-design"></div>
          <div class="card-description">
            <p>UX Design</p>
          </div>
        </div>
    
        <div class="card">
          <div class="img-card img-card-data"></div>
          <div class="card-description">
            <p>Data Science</p>
          </div>
        </div>
      </section>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>