/* 
Filename: style.css
Student Name: Juan Carlo Soriano
Student Number: 301262744
Date: June 7, 2023
*/

body {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #555;
  font-family: "Helvatica Neue", Helvetica, Arial, sans-serif;
}

main {
  background-color: #dfdfdf;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

input[type=text] {
  width: 100%;
  border: 2px solid #888;
  border-radius: 3px;
  padding: 6px;
  margin: 10px 0 20px; 
}

textarea {
  width: 100%;
  height: 200px;
  margin: 10px 0 20px;
  border: 2px solid #888;
  border-radius: 3px;
  padding: 6px;
  max-width: 980px;
  min-width: 980px;
  min-height: 200px;
}

.btn-cta {
  color: white;
  background-color: #00B7FF;
  border: 2px solid #00B7FF;
  padding: 12px 18px;
  border-radius: 3px;
  margin: 10px 0;
  font-size: 18px;
}

.btn-cta:hover {
  color: #00B7FF;
  background-color: white;
  border: 2px solid #00B7FF;
  cursor: pointer;
}

/* Navbar Styles */
.navbar {
  width: 100vw;
  height: 80px;
  background-color: #333;
  display: flex;
  color: #ddd;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links a {
  font-size: 0.9em;
  margin-left: 8px;
}

.navbar-links a:hover {
  color: white;
}

.img-navbar-logo {
  width: 80px;
}

/* Footer Styles */
.footer {
  width: 100vw;
  height: 220px;
  background-color: #555;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sizing Class Styles */
.container {
  max-width: 980px;
  margin: 0 auto;
  width: 100%;
}

.main-content {
  margin: 0 auto;
  padding-bottom: 100px;
}

/* Content */
.hero {
  height: 400px;
  background-image: url('../images/summit3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.mission-statement {
  padding: 20px 0;
}

.mission-statement-text {
  line-height: 1.5rem;
  margin-bottom: 40px;
}

/* About Me Content  Styles */
.about-me {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.img-about-me {
  width: 200px;
  box-shadow: -4px -2px 2px 0px rgba(136, 136, 136, 0.36);
}

.about-me-description {
  padding: 0 0 0 20px;
}

.about-me-description h2 {
  margin-top: 0;
}

/* Services Content Styles */
.services {
  padding: 60px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  height: 390px;
  width: 300px;
  background-color: #00B7FF;
  border-radius: 5px;
}

.img-card {
  width: 300px;
  height: 300px;
  border-radius: 5px 5px 0 0;
  background-size: cover;
}

.img-card-webdev {
  background-image: url("../images/service-webdev.jpg");
}

.img-card-design {
  background-image: url("../images/service-design.jpg");
}

.img-card-data {
  background-image: url("../images/service-data.jpg");
}

.card-description {
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Projects Content Styles */
.projects {
  padding: 60px 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.link-item {
  width: 300px;
  margin-bottom: 20px;
}

.img-link-item {
  width: 300px;
  height: 300px;
  background-size: contain;
  border: 2px solid #999;
  border-radius: 5px;
}

.img-link-item-1 {
  background-image: url("../images/project-1.png");
}

.img-link-item-2 {
  background-image: url("../images/project-2.png");
}

.img-link-item-3 {
  background-image: url("../images/project-3.png");
}

.img-link-item-4 {
  background-image: url("../images/project-4.png");
}

.link-item h2 {
  margin-bottom: 8px;
}

.link-item a {
  display: block;
  margin-bottom: 10px;
}

/* Contact Us Content Styles */
.contact-us {
  padding: 30px 0;
}

/* Font Styles */
h1 {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 40px;
  margin: 40px 0 10px;
  display: block;
}

@media only screen and (max-width: 980px) {
  .container {
    margin: 2% 5%;
    width: auto;
  }

  .about-me {
    flex-flow: row wrap;
    justify-content: center;
  }

  .img-about-me {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}