/* 
Filename: style.css
Student Name: Juan Carlo Soriano
Student Number: 301262744
Date: June 7, 2023
*/

body {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #555;
  font-family: "Helvatica Neue", Helvetica, Arial, sans-serif;
}

main {
  background-color: white;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.btn-cta {
  color: white;
  background-color: #00B7FF;
  border: 2px solid #00B7FF;
  padding: 12px 18px;
  border-radius: 3px;
  margin: 10px 0;
  font-size: 18px;
}

.btn-cta:hover {
  color: #00B7FF;
  background-color: white;
  border: 2px solid #00B7FF;
  cursor: pointer;
}

/* Navbar Styles */
.navbar {
  width: 100vw;
  height: 80px;
  background-color: #333;
  display: flex;
  color: #ddd;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links a {
  margin-left: 8px;
}

.img-navbar-logo {
  width: 80px;
}

/* Footer Styles */
.footer {
  width: 100vw;
  height: 220px;
  background-color: #555;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sizing Class Styles */
.container {
  max-width: 980px;
  margin: 0 auto;
  width: 100%;
}

.main-content {
  margin: 0 auto;
  padding-bottom: 100px;
}

/* Content */
.hero {
  height: 400px;
  background-image: url('../images/summit3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.mission-statement {
  padding: 20px 0;
}

.mission-statement-text {
  line-height: 1.5rem;
  margin-bottom: 40px;
}

/* About Me Content  Styles */
.about-me {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.img-about-me {
  width: 200px;
  box-shadow: -4px -2px 2px 0px rgba(136, 136, 136, 0.36);
}

.about-me-description {
  padding: 0 0 0 20px;
}

.about-me-description h2 {
  margin-top: 0;
}

/* Font Styles */
h1 {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 40px;
  margin: 40px 0 10px;
  display: block;
}

@media only screen and (max-width: 980px) {
  .container {
    margin: 2% 5%;
    width: auto;
  }

  .about-me {
    flex-flow: row wrap;
    justify-content: center;
  }

  .img-about-me {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}